@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.el-main{
  padding: 0!important;
}

.custom-modal-class {
  background-color: rgba(20, 20, 21, 0.4)!important;
}

.home-container .el-overlay {
  background-color: #fdfdfd!important;
}

.custom-message-box-class{
  margin-top: -110px;
  --el-messagebox-width: 50%!important;
}

.el-collapse{
  border-bottom: none!important;
}

.el-collapse-item__header{
  font-size: 14px!important;
}

.el-collapse-item__content{
  font-size: 14px!important;
}

.custom-backdrop-class{
  box-shadow: rgba(20, 20, 21, 0.04) 0px 0px 1px 2px, rgba(20, 20, 21, 0.48) 0px 0px 0px 1000vh!important;
  z-index: 3000!important;
}
.tg-dialog-close-btn{
  margin: -10px 0 0 0;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
