@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.el-main{
  padding: 0!important;
}

.custom-modal-class {
  background-color: #fdfdfd!important;
}

.el-overlay {
  background-color: #fdfdfd!important;
}

.custom-message-box-class{
  margin-top: -110px;
}